<h1>Welcome to full stack overflow documentation</h1>

<h3>Creating a member;</h3>
<div>Strong params permit name, email and password in order to create a member.
Localhost will be changed to the url of your app.</div>
<p>localhost3000/members?name="You"+email="Your@email.com"+password="password".</p>
<br/>
<p>members GET    /members(.:format)            members#index</p>
<p>        POST   /members(.:format)            members#create</p>
<p>member  GET    /members/:id(.:format)        members#show</p>


<h3>Creating a question;</h3>
<div>Required fields: member_id, title and desc (description) in order to create a question.
Also token validation only allows users who are logged in to create a question / answer / or vote. </div>
<p>localhost3000/questions?member_id=1+title="Title"+desc="Description of your question."</p>
<br/>
<p>question  GET    /questions/:id(.:format)      questions#show</p>
<p>questions GET    /questions(.:format)          questions#index</p>
<p>          POST   /questions(.:format)          questions#create</p>

<h3>Creating an answer;</h3>
<div>Required fields: question_id, member_id, desc (description), and accepted (if the owner of the question has accepted this answer to be a valid fix for the problem)
A token is required in order to create an answer.</div>
<p>localhost3000/answeers?question_id=1+member_id=1+desc="description of your answer"+accepted=true</p>
<br/>
<p>answer GET    /answers/:id(.:format)        answers#show</p>
<p>       POST   /answers(.:format)            answers#create</p>

<h3>Creating a vote;</h3>
<div>Required fields: member_id, up_down (if it is voted up or down), vote_for_id (foreign key depending on type), vote_for_type (wether its a question of answer)
A token is required in order to create an vote</div>
<p>localhost3000/votes?member_id=1+up_down=true+vote_for_id=1+vote_for_type="answer"</p>
<br/>
<p>       POST   /votes(.:format)              votes#create</p>
